<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poznámky</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link href="styles.css" rel="stylesheet">
</head>
<body>
    <main class="main-window">
        <div class="noteForm">
            <% if (typeof user != 'undefined') { %>
                <p>Používateľ: <%= user.email %></p>
                <% if (user.role === 'Admin') { %>
                    <form method="GET" action="/home">
                        <input class="navigation" type="submit" value="Domov">
                    </form>
                <% } %>
            <% } %>
            <form method="GET" action="/logout">
                <input class="navigation" type="submit" value="Odhlásiť">
            </form>
        </div>
        <form method="POST" action="/deleteUsers">
            <div class="noteForm">
                <h1>Používatelia</h1>
                <input class="navigation" type="submit" value="Odobrať">
            </div>
            <ul class="noteList">
                <% if (typeof allUsers != 'undefined') { %>
                    <% allUsers.forEach((el) => { %>
                        <li class="notes">
                            <input type="checkbox" name="<%= `${el.email}` %>"/>
                            <label class="note" for="<%= `${el.email}` %>"><%= el.email %></label>
                            <p><%= el.activeNotes.length %></p>
                        </li>
                        <% }) %>
                    <% } %>
            </ul>
        </form>
    </main>
    <script>
        setTimeout(() => {
            document.querySelectorAll('.alert').forEach((el) => {el.classList.add('invisible')})
        }, 3000)

        const logout = () => {
            document.cookie.split(";").forEach(function(c) { document.cookie = c.replace(/^ +/, "")
            .replace(/=.*/, "=;expires=" + new Date().toUTCString() + ";path=/"); });
        }
    </script>
</body>
</html>