<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poznámky</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link href="styles.css" rel="stylesheet">
</head>
<body>
    <main class="main-window">
        <div class="noteForm">
            <% if (typeof user != 'undefined') { %>
                <p>Používateľ: <%= user.email %></p>
                <% if (user.role === 'Admin') { %>
                    <form method="GET" action="/admin">
                        <input class="navigation" type="submit" value="Admin">
                    </form>
                <% } %>
            <% } %>
            <form method="GET" action="/logout">
                <input class="navigation" type="submit" value="Odhlásiť">
            </form>
        </div>
        <form method="POST" action="/done">
            <div class="noteForm">
                <h1>Poznámky</h1>
                <input class="navigation" type="submit" value="Uložiť">
            </div>   
            <ul class="noteList">
                <% if (typeof user != 'undefined') { %>
                    <% user.activeNotes.forEach((note) => { %>
                        <li class="notes">
                            <input type="checkbox" name="<%= `${note.id}` %>"/>
                            <label class="note" for="<%= `${note.id}` %>"><%= note.note %></label>
                        </li>
                        <% }) %>
                    <% } %>
            </ul>
        </form>
        <form method="POST" action="/addNote" class="noteForm">
            <div class="noteInput">
                <label for="addNote"></label>
                <input type="text" name="addNote" placeholder="Pridať poznámku...">
            </div>
            <input type="submit" value="Potvrdiť">
        </form>
        <a href="/done">Zobraziť zmazané poznámky...</a>
    </main>
    <script>
        setTimeout(() => {
            document.querySelectorAll('.alert').forEach((el) => {el.classList.add('invisible')})
        }, 3000)
    </script>
</body>
</html>