<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poznámky</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link href="styles.css" rel="stylesheet">
</head>
<body>
    <main class="main-window">
        <h1>Registrácia</h1>
        <form method="POST" action="/register">
            <div class="inputs">
                <div class="field">
                    <label for="email">Email</label>
                    <input type="email" name="email" placeholder="Email...">
                </div>
                <div class="field">
                    <label for="heslo">Heslo</label>
                    <input type="password" name="heslo" placeholder="Heslo...">
                </div>
                <div class="field">
                    <label for="hesloZnova">Heslo znova</label>
                    <input type="password" name="hesloZnova" placeholder="Heslo znova...">
                </div>
            </div>
            <% if (typeof alert != 'undefined') { %>
                <% alert.forEach((error) => { %>
                    <div class="alert" >
                        <%= error.msg %>
                    </div>
                <% }) %>
            <% } %>
            <input type="submit" value="Potvrdiť">
        </form>
        <a href="/">Namiesto toho prihlásiť...</a>
    </main>
    <script>
        setTimeout(() => {
            document.querySelectorAll('.alert').forEach((el) => {el.classList.add('invisible')})
        }, 3000)
    </script>
</body>
</html>