* {
    box-sizing: border-box;
    color: white;
    font-family: "Times New Roman", Times, serif;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: #4B4B4B;
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    margin: 0;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

li {
    display: flex;
    align-items: center;
    gap: 20px;
}

input[type="checkbox"] {
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: flex;
  flex-shrink: 0;
}

.main-window {
    display: flex;
    flex-direction: column;
    background-color: #242424;
    height: 80%;
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 3px 6px #000000;
    padding: 25px;
    overflow: hidden;
}

h1 {
    text-align: center;
}

form {
    flex-direction: column;
    display: flex;
    flex-grow: 1;
    
}

.inputs {
    gap: 20px;
    justify-content: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.field {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.noteInput {
    display: flex;
    align-items: center;
    width: 100%;
}

.noteInput > input {
    width: 100%;
}

input {
    height: 75px;
    box-shadow: 0 3px 3px #000000;
    border: none;
    padding: 0 20px;
    font-size: 1.8rem;
    color: black;
}

label, input[type="submit"] {
    font-size: 1.4rem;
}

input[type="submit"] {
    color: white;
    border-radius: 15px;
    width: 250px;
    margin-left: auto;
    background-color: #3614EB;
    transition: 300ms;
}

input[type="submit"]:hover {
    opacity: 60%;
}

a {
    margin-top: 15px;
    text-align: right;
}

.alert {
    color: red;
}

.invisible {
    display: none;
}

.noteForm {
    display:flex;
    flex-grow: 0;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.noteForm > input {
    width: 110px;
}

.noteList {
    flex-grow: 1;
}

.note {
    font-size: 1.2rem;
}

input.navigation {
    height:40px;
    width: 80px;
    font-size: 0.7rem;
    text-align: center;
    padding: 0;
}
